.card{
    border: 1px;
    margin-top: 32px;
    height: 565px;
    border-radius: 32px;
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 20px;
   gap: 32px;
   overflow: hidden;

}
.leftCard{
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    padding-left: 60px;
    padding-top: 60px;
}
.leftCard img{
    width: 40%;
}
.leftCard h2{
    font-family: "Inter";
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 800 !important;
    font-size: 32px !important;
    /* color: red !important; */
    line-height: 38.37px !important;
    margin-top: 16px;
}
.leftCard p{
    color: rgba(193, 193, 193, 1);
font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top: 16px;
}
.leftCard a{
    display: block;
    margin-top: 70px;
    display: flex;
    gap: 5px;
    text-decoration: none; 
    font-family: "Inter";
    font-size: 18px !important;
    font-weight: 500; 
    color: rgba(255, 255, 255, 1);
}
.leftCard a:hover{
    cursor: pointer;
}
.rightCard{
    height: 100%;
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 250px;
}
.rightCard img{
    /* width: 80%; */
    height: 100%;
    transform: rotate(16deg); /* Rotate the image 90 degrees clockwise */

    
}

