.about {
    height: max-content;
}

.about span,
.about a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.aboutContent {
    width: 80%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 75px;
}
.leftAboutContent {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightAboutContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contentDisplay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contentDisplay p:first-of-type {
    color: rgba(128, 128, 128, 0.47);
    font: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}
.contentDisplay p:last-of-type,
.leftContactContent p {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    line-height: 23.7px;
}
.contactContent {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    gap: 32px;
    justify-content: center;
}
.leftContactContent {
    width: 100%;
}
.rightContactContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightContactContent a {
    width: 201px;
    height: 60px;
    padding: 16px 32px 16px 32px;
    border-radius: 9px;
    gap: 8px;
    background: linear-gradient(180deg, #1a1a1a 0%, #131313 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    font-size: 17.5px;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
    background: transparent;
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
}
.signatureDiv {
    width: 100%;
    margin: auto;
    margin-top: 120px;
}
.signatureDiv img {
    width: 50%;
}
.logo {
    display: none;
}
@media screen and (max-width: 767px) {
    .about {
        background-position-y: -1500px;
    }
    .logo {
        display: block;
        position: absolute;
        color: white;
        font-size: 2.5rem;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .aboutWrapper {
        height: 400px;
    }
    .Wrapper {
        width: 90%;
    }
    .Wrapper h1 {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .aboutContent {
        flex-direction: column-reverse;
    }
    .contactContent {
        flex-direction: column;
    }
    .signatureDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .signatureDiv img {
        width: 90%;
    }
    .rightContactContent {
        width: 100%;
    }
    .rightContactContent a {
        width: 100%;
    }
}
