.about{
    background-image: url("../../../public/gradient.svg");
    background-position: center center;
    background-position-y: -350px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
}
.aboutWrapper{
    /* border: 2px solid white; */
    height: 472px;
    /* border:1px solid rgba(255, 255, 255, 0.1); */
}

.Wrapper{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 278px;
}
.Wrapper h1{
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter";
    line-height: 96.82px;
    color: rgba(255, 255, 255, 1);
}
.Wrapper p{
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter";
    color: rgba(128, 128, 128, 0.5);
    line-height: 29.05px;
}