.TechCard {
    border: 2px solid red;
    min-width: 300px;
    max-width: 330px;
    height: 300px;
    border-radius: 22px;
    border: 1px solid rgba(56, 55, 55, 1);
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info {
    width: 80%;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.info p:first-of-type {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.info p:last-of-type {
    padding: 6px 12px 6px 12px;
    border-radius: 26px;
    border: 1px solid rgba(39, 37, 37, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.006em;
    text-align: left;
}
.TechCard img {
    width: 114px;
    height: 114px;
}
@media screen and (max-width: 767px) {
    .TechCard {
        flex-direction: row;
        height: max-content;
        width: 95%;
        padding: 13px 14px 13px 14px;
        border-radius: 16px;
        gap: 5px;
    }
    .TechCard img {
        width: 20%;
    }
    .info {
        position: inherit;
        align-items: center;
    }
    .info p:first-of-type {
        font-size: 16px;
    }
    .info p:last-of-type {
        font-size: 11px;
    }
}
