.container{
    /* border: 2px solid red; */
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
    opacity: 70%;
    flex-wrap: wrap;
}
.container img{
    /* border: 2px solid red; */
    width: 25px;
    height: 25px;
    transition: all 1s;
}
.container img:hover{
    transform: scale(1.5);
}