.Card {
    width: 48%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(21, 21, 21, 1);
}
.textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textSection h2 {
    font-family: 'Inter' !important;
    font-weight: 800 !important;
    font-size: 32px !important;
    margin: 0 !important;
    padding: 10px !important;
    text-align: center;
    margin-top: 60px;
}
.textSection p {
    font-weight: 400;
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;
    color: white;
}
.imageSection {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSection img {
    width: 100%;
    border-radius: 32px;
}
@media screen and (max-width: 768px) {
    .Card {
        width: 100%;
        border: 1px solid rgba(56, 55, 55, 1);
    }
    .textSection p {
        color: rgba(193, 193, 193, 1);
        margin-top: 0px;
        font-size: 0.8rem;
    }
    .imageSection img {
        border-radius: 32px;
    }
}
